/* 
.container {
    display: flex !important;
    justify-Content: center !important;
    align-Items: center !important; 
     min-Height: 500vh !important;
  }

  .form {
    padding: 20px !important;
    max-Width: 600px !important;
    width: 700%;
  }

  .contactInfo {
    padding: 20px !important;
    background-Color: #394867 !important;
    color: white !important;
    text-Align: left !important;
  } */

  .right-content[_ngcontent-mew-c19] {
    flex: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color1);
    margin-bottom: 380px;
}

.left-content[_ngcontent-mew-c19] {
  flex: 90%;
  margin-left: auto;
  margin-right: auto;
}

  
 